{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div class="container">
    <h1>Meus Agendamentos</h1>

    
    <div class="tela">
        <table class="solicitacoes text-center">
            <thead class="">
                <tr class="">
                    <th>Data</th>
                    <th>Início</th>
                    <th>Término</th>
                    <th>Equipamento</th>
                </tr>
            </thead>
            <tbody>
                <!-- Linhas da tabela com dados aqui -->
                {% for agendamento in agendamentos %}
                <tr>
                    



                    <td>{{agendamento.data_agendada}}</td>
                    <td>{{agendamento.hora_inicio_agendamento}}</td>
                    <td>{{agendamento.hora_termino_agendamento}}</td>
                    <td>{{agendamento.id_equipamento}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
    
</div>

<script src="{% static 'js/solicita.js' %}"></script>
{% endblock %}