{% extends 'administracao/base.html' %}
{% load static %}

{% block conteudo %}

<div class="container ">
    <h1>Solicitações</h1>
    <form action="{% url "agendar_treinamento" %}" method="post" id="agendar-form" accept-charset="UTF-8"> 
        {% csrf_token %}
        <div class="d-flex justfy-content-between form_solicita_treinamento">
            
            <select name="equipamento" id="selectEquipamento">
                <option value="">Digite um nome</option>
                {% for equipamento in equipamentos %}
                <option value="{{ equipamento.nome }}">{{ equipamento.nome }}</option>
                {% endfor %}
            </select>

            <select name="status" id="selectStatus">
                <option value="pendente">Pendente</option>
                <option value="em_processo">Em processo</option>
                <option value="finalizado">Finalizado</option>
            </select>

        </div>

        <div class="tela">
            
                <table class="solicitacoes text-center" id="tabelaSolicitacoes">
                    <thead class="">
                        <tr class="">
                            <th>Data da solicitação</th>
                            <th>Hora</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Equipamento</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Linhas da tabela com dados aqui -->
                        {% for solicitacao in solicitacoes %}
                        <tr>
                            <td>{{ solicitacao.data }}</td>
                            <td>{{ solicitacao.hora }}</td>

                            {% if solicitacao.id_Docente %}
                        
                                <td>{{solicitacao.id_Docente.nome}}</td>
                                <td>{{solicitacao.id_Docente.email_inst}}</td>
                                <td>{{ solicitacao.id_equipamento }}</td>
                                <td>{{ solicitacao.status }}</td>
                                <td><input type="checkbox" name="usuario" value="{{ solicitacao.id_Docente.nome }}_{{ solicitacao.id_equipamento }}" id=""></td>

                            {% elif solicitacao.id_PosDout %}
                        
                                <td>{{solicitacao.id_PosDout.nome}}</td>
                                <td>{{solicitacao.id_PosDout.email_inst}}</td>
                                <td>{{ solicitacao.id_equipamento }}</td>
                                <td>{{ solicitacao.status }}</td>
                                <td><input type="checkbox" name="usuario" value="{{ solicitacao.id_PosDout.nome }}_{{ solicitacao.id_equipamento }}" id=""></td>

                            {% elif solicitacao.id_AlunoPosIC %}
                            
                                <td>{{solicitacao.id_AlunoPosIC.nome}}</td>
                                <td>{{solicitacao.id_AlunoPosIC.email_inst}}</td>
                                <td>{{ solicitacao.id_equipamento }}</td>
                                <td>{{ solicitacao.status }}</td>
                                <td><input type="checkbox" name="usuario" value="{{ solicitacao.id_AlunoPosIC.nome }}_{{ solicitacao.id_equipamento }}" id=""></td>

                            {% elif solicitacao.id_UserExterno %}
                            
                                <td>{{solicitacao.id_UserExterno.nome}}</td>
                                <td>{{solicitacao.id_UserExterno.email_inst}}</td>
                                <td>{{ solicitacao.id_equipamento }}</td>
                                <td>{{ solicitacao.status }}</td>
                                <td><input type="checkbox" name="usuario" value="{{ solicitacao.id_UserExterno.nome }}_{{ solicitacao.id_equipamento }}" id=""></td>

                            {% endif %}

                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
           
            <input type="submit" value="Agendar" class="mt-3" id="btn-submit">
        </div>
    </form>

</div>


<script src="{% static 'js/agenda.js' %}"></script>
{% endblock %}