h1 {
    text-align: center;
}

.container{
}

.sub-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.sub-link{
    color: inherit; /* ou outra cor desejada */
    text-decoration: none;
}

.sub-item{
    border: #000 solid 1px;
    width: 50%;
    font-size: medium;
}

tbody{
    text-align: left;
}

.equipamento{
    color: inherit; /* ou outra cor desejada */
    text-decoration: none; /* opcional: remove sublinhado padrão */
    padding-left: 10px;
}

.btn-proximo{
    border-radius: 5px;
    background-color: #276d23;
    color: #FFF;
    font-size: larger;
    border: solid #000 0px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;

}

.forms-cadastro{
    border: solid #000 1px;
    padding-top: 2px;
    padding-bottom: 10px;

}

.radio{ 
    width: 500px;
    display: flex;
}

input[type=text], select{
    height: 30px;
    width: 50%;
}

input[type=submit]{
    background-color: #276d23;
    border: 0;
    height: 35px;
    color: #FFF;
    
}

.form-equipamento .forms-cadastro .questao label {
    width: 15%;
}

.form-equipamento .forms-cadastro .questao input[type="text"],
.form-equipamento .forms-cadastro .questao input[type="number"],
.form-equipamento .forms-cadastro .questao select {
    height: 30px;
    width: 60%;
}

.questao{
    display: flex;
    justify-content:space-evenly;
}

textarea{
    width: 100%;
    height: 300px;
}

.quadrado{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    border: #000 solid 1px;
    border-radius: 10px;
    margin-top: 90px;
}

.form_login{
    padding: 10px;
}

.login_input{
    width: 100%;
}

.container{
    width: 100%;
}

th{
    border-bottom: #000 solid 1px;
}

.tela{
    margin-top: 20px;
}

.solicitacoes{
    width: 100%;
}

.tbody-solicitacoes{
    text-align: center;
}

td{
    border: #000 solid 1px;
}

.form_solicita_treinamento{
    
}

.font-pequena{
    font-size: small;
}

.finalizar-treinamento{
    border: #000 solid 1px;
    margin-top: 10px;
    padding: 10px;
}

h2{
    text-align: center;
}

/* Seletor para remover o ponto (marcador) de todas as listas não ordenadas */
ul, ol {
    list-style-type: none;
}

/* Seletor específico para remover o ponto (marcador) de uma lista não ordenada */
ul.no-bullet {
    list-style-type: none;
}

th, td{
    font-size:small;
    text-align: center;
    
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #000;
    max-height: 80vh; /* Defina uma altura máxima como porcentagem da altura da tela */
    overflow: auto;
    width: 50%;
}

textarea.popup-agendamento{
    height: 100px;
}

.btn-agendar{
    border-radius: 5px;
    background-color: #276d23;
    color: #FFF;
    font-size: larger;
    border: solid #000 0px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
}

.reservationForm {
    
}
  
.reservationForm label {
    width: 40%;
}
  
.reservationForm input {
    width: 60%;
}
  

.btn-agendamento{
    height: 20px;
    width: 20px;
}

.custom-next-btn, .custom-prev-btn{
    color: #000; /* Cor do texto */
    
}

.custom-next-btn:hover, .custom-prev-btn:hover{
    color: #000; /* Cor do texto ao passar o mouse */
    
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
    font-size: 30px; /* Ajuste o tamanho conforme necessário */
    color: #000; /* Ajuste a cor conforme necessário */
    border: none; /* Remova a borda */
    text-decoration: none;
    width: 20px;
    cursor: pointer;
}
  
.carousel-control-prev {
    right: 0;
}
  
.carousel-control-prev.custom-prev-btn {
    left: 6%; /* Ajuste conforme necessário */
}

.infos-usuarios{
    padding: 13px;
    text-align: center;
    text-decoration: none;
    color: #FFF;
    background-color: #276d23;
    border-radius: 6px;
    font-size:large;
}

.in-name{
    width: 100%;
    margin: 0;
}

.info-adicional-aula{
    height: 10%;
}

.btn-cancelar-agendamento{
    color: #FFF;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
}

@media (max-width: 1000px){

    .form-equipamento .forms-cadastro .questao label {
        width: 15%;
    }
    
    .form-equipamento .forms-cadastro .questao input[type="text"],
    .form-equipamento .forms-cadastro .questao select {
        height: 30px;
        width: 50%;
    }
    

}