h1 {
    text-align: center;
}

.container{
}

.btn-proximo{
    border-radius: 5px;
    background-color: #276d23;
    color: #FFF;
    font-size: larger;
    border: solid #000 0px;
    text-decoration: none;
    padding: 10px 20px 10px 20px;

}

.forms-cadastro{
    border: solid #000 1px;
    padding-top: 2px;
    padding-bottom: 10px;

}

.radio{ 
    width: 500px;
    display: flex;
}

input[type=text], select{
    height: 30px;
    width: 50%;
}

input[type=submit]{
    background-color: #276d23;
    border: 0;
    height: 35px;
    color: #FFF;
    
}

.form-equipamento .forms-cadastro .questao label {
    width: 15%;
}

.form-equipamento .forms-cadastro .questao input[type="text"],
.form-equipamento .forms-cadastro .questao input[type="number"],
.form-equipamento .forms-cadastro .questao select {
    height: 30px;
    width: 60%;
}

.questao{
    display: flex;
    justify-content:space-evenly;
}

textarea{
    width: 100%;
    height: 300px;
}

.quadrado{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    border: #000 solid 1px;
    border-radius: 10px;
    margin-top: 90px;
}

.form_login{
    padding: 10px;
}

.login_input{
    width: 100%;
}

.container{
    width: 100%;
}

@media (max-width: 1000px){

    .form-equipamento .forms-cadastro .questao label {
        width: 15%;
    }
    
    .form-equipamento .forms-cadastro .questao input[type="text"],
    .form-equipamento .forms-cadastro .questao select {
        height: 30px;
        width: 50%;
    }
    

}