{% extends 'projeto/base.html' %}
{% block conteudo %}

    <h1>Tela inicial</h1>
    <form action="{% url 'listagem_usuarios' %}" method="post">

        {% csrf_token %} <!-- token do sjango obrigatório do django, serve para previnir entrada de dados maliciosas -->

        <div class="container">

            <h1>Cadastro Usuário</h1>
            Nome <input type="text" name="nome" id="">
            idade <input type="number" name="idade" id="">
            <button>Enviar</button>

        </div>
    </form>
{% endblock %}