<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Projeto</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid d-flex align-items-center">
        {% if request.session.chave %}
          <img src="{% static 'imagens/logo.png' %}" alt="Logo Central Multiusuario" />
        {% else %}
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'imagens/logo.png' %}" alt="Logo Central Multiusuario" /></a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if not request.session.chave %}
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
              {% endif %}
            </li>
            <!--  # dropdown
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown link</a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="#">Action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
             -->
            {% if not request.session.chave %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'cadastro' %}">Cadastro</a>
              </li>
            {% endif %}
            {% if request.session.chave %}
              
              {% if request.session.perfil == 'aluno ou pos doc' or request.session.perfil == 'docente' %}
            
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'perfil_user' %}">Perfil</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'treinamento' %}">Treinamento</a>
                </li>

              {% else %}

                <li class="nav-item">
                  <a class="nav-link" href="{% url "cad_equipamento" %}">Cadastrar Equipamento</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url "equipamentos" %}">Equipamentos</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url "dashboard" %}">Dashboard</a>
                </li>

              {% endif %}

              <li class="nav-item">
                <a class="nav-link" href="{% url 'agendamentos' %}">Agendamentos</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'encerrar_sessao' %}">Sair</a>
              </li>

            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% if request.session.chave %}
      <table class="sub-nav">
        <tr class="d-flex justfy-content-between">

          {% if request.session.perfil == 'aluno ou pos doc' or request.session.perfil == 'docente' %}
            <td class="sub-item">
              <a href="{% url 'solicitacoes_user' %}" class="sub-link">Meus Treinamentos</a>
            </td>
            <td class="sub-item">
              <a href="{% url 'edita_dados_user' %}" class="sub-link">Editar Meus Dados</a>
            </td>
            <td class="sub-item">
              <a href="{% url 'agendamentos_user' %}" class="sub-link">Meus Agendamentos</a>
            </td>
          {% else %}
            <td class="sub-item">
              <a href="{% url 'solicitacoes' %}" class="sub-link">Treinamentos</a>
            </td>
            {% if request.session.perfil == 'tecnico' %}
            <td class="sub-item">
                <a href="{% url 'edita_dados_tecnico' %}" class="sub-link">Editar Meus Dados</a>
            </td>
            {% else %}
            <td class="sub-item">
              <a href="{% url 'form_calendario' %}" class="sub-link">Cadastrar Calendário</a>
            </td>
            {% endif %}
          {% endif %}
        </tr>
      </table>
    {% endif %}

    {% block conteudo %}

    {% endblock %}
    <script src=" {% static 'js/main.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/cadastro.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
