{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <div class="container">
    <h1>Aluno(a) de pós-graduação ou iniciação científica - UFABC ou externo(a)</h1>
    <form action="{% url 'form_infra' %}" method="post" class="">
      {% csrf_token %}
      <div class="forms-cadastro p-2">
        <p>Dados pessoais</p>
        <div class="">
          <div class="mt-3">
            <label for="nome">Nome Completo:</label> <input type="text" name="" id="nome" required />
          </div>
          <div class="mt-3">
            <label for="tel">Celular:</label> <input type="text" name="tel" id="tel" required />
          </div>
          <div class="mt-3">
            <label for="tel">email-institucional:</label> <input type="text" name="email_insti" id="email_insti" required />
          </div>
          <div class="mt-3">
            <label for="tel">Matrícula UFABC ou CPF (caso o(a) usuário(a) seja vinculado(a) à outra instituição):</label> <input type="text" name="mat_siape" id="mat_siape" required />
          </div>
          <div class="mt-3">
            <label for="tel">Ramal e sala do laboratório de pesquisa:</label> <input type="text" name="lab" id="lab" required />
          </div>
          <div class="mt-3">
            <label for="tel">Nome do(a) supervisor(a):</label> <input type="text" name="lab" id="lab" required />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Centro (UFABC) ou Instituição e departamento (se externo):</p>
        <div class="">
          <div class="radio mt-3">
            <label for="doutorando"><input type="checkbox" name="doutorando" value="" id="" />Doutorando(a)</label>
          </div>
          <div class="radio mt-3">
            <label for="mestrando"><input type="checkbox" name="mestrando" value="" id="" />Mestrando(a)</label>
          </div>
          <div class="radio mt-3">
            <label for="IC"><input type="checkbox" name="IC" value="" id="" />Aluno(a) de Iniciação Científica</label>
          </div>
          <div class="radio mt-3">
            <label for="outros"><input type="checkbox" name="outros" value="outros" id="outros" />Outros:</label> <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Data de início do pós-doutorado:</p>
        <div class="">
          <div class="radio mt-3">
            <label><input type="date" name="opcao" value="opcao4" id="opcao4" required /></label>
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Centro:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="opcao1"><input type="radio" name="opcao" value="opcao1" id="opcao1" required/>CCNH</label>
          </div>
          <div class="radio mt-3">
            <label for="opcao2"><input type="radio" name="opcao" value="opcao2" id="opcao2" required/>CMCC</label>
          </div>
          <div class="radio mt-3">
            <label for="opcao3"><input type="radio" name="opcao" value="opcao3" id="opcao3" required/>CECS</label>
          </div>
          <div class="radio mt-3">
            <label for="outros"><input type="radio" name="opcao" value="opcao4" id="opcao4" required/>Outros:</label> <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Programa de pós-graduação:</p>
        <p class="text-success">Escolha uma das seguintes respostas:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="biossitemas"><input type="checkbox" name="biossitemas" value="" id="" />Biossitemas</label>
          </div>
          <div class="radio mt-3">
            <label for="biotecnociencia"><input type="checkbox" name="biotecnociencia" value="" id="" />Biotecnociência</label>
          </div>
          <div class="radio mt-3">
            <label for="ciencia_da_computacaoo"><input type="checkbox" name="ciencia_da_computacaoo" value="" id="" />Ciência da Computação</label>
          </div>
          <div class="radio mt-3">
            <label for="ciencia_e_engenharia_de_materiais"><input type="checkbox" name="ciencia_e_engenharia_de_materiais" value="" id="" />Ciência e Engenharia de Materiais</label>
          </div>
          <div class="radio mt-3">
            <label for="ciencia_e_tecnologia_ambiental"><input type="checkbox" name="ciencia_e_tecnologia_ambiental" value="" id="" />Ciência e Tecnologia Ambiental</label>
          </div>
          <div class="radio mt-3">
            <label for="ciencia_e_tecnologia_quimica"><input type="checkbox" name="ciencia_e_tecnologia_quimica" value="" id="" />Ciência e Tecnologia/Química</label>
          </div>
          <div class="radio mt-3">
            <label for="energia"><input type="checkbox" name="energia" value="" id="" />Energia</label>
          </div>
          <div class="radio mt-3">
            <label for="engenharia_biomedica"><input type="checkbox" name="engenharia_biomedica" value="" id="" />Engenharia Biomédica</label>
          </div>
          <div class="radio mt-3">
            <label for="engenharia_da_informaçao"><input type="checkbox" name="engenharia_da_informaçao" value="" id="" />Engenharia da Informação</label>
          </div>
          <div class="radio mt-3">
            <label for="engenharia_eletrica"><input type="checkbox" name="engenharia_eletrica" value="" id="" />Engenharia Elétrica</label>
          </div>
          <div class="radio mt-3">
            <label for="engenharia_mecanica"><input type="checkbox" name="engenharia_mecanica" value="" id="" />Engenharia Mecânica</label>
          </div>
          <div class="radio mt-3">
            <label for="evolucao_e_diversidade"><input type="checkbox" name="evolucao_e_diversidade" value="" id="" />Evolução e Diversidade</label>
          </div>
          <div class="radio mt-3">
            <label for="fisica"><input type="checkbox" name="fisica" value="" id="" />Física</label>
          </div>
          <div class="radio mt-3">
            <label for="matematica"><input type="checkbox" name="matematica" value="" id="" />Matemática</label>
          </div>
          <div class="radio mt-3">
            <label for="nanociencias_e_materiais_avançados"><input type="checkbox" name="nanociencias_e_materiais_avançados" value="" id="" />Nanociências e Materiais Avançados</label>
          </div>
          <div class="radio mt-3">
            <label for="neurociencia_e_cognicao"><input type="checkbox" name="neurociencia_e_cognicao" value="" id="" />Neurociência e Cognição</label>
          </div>
          <div class="radio mt-3">
            <label for="planejamento_e_gestao_do_territorio"><input type="checkbox" name="planejamento_e_gestao_do_territorio" value="" id="" />Planejamento e Gestão do Território</label>
          </div>
          <div class="radio mt-3">
            <label for="sem_vinculo"><input type="checkbox" name="sem_vinculo" value="" id="" />Não estou vinculado(a) à nenhum programa de pós-graduação</label>
          </div>
          <div class="radio mt-3">
            <label for="outros"><input type="checkbox" name="outros" value="outros" id="outros" />Outros:</label> <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Centro:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="opcao1"><input type="radio" name="opcao" value="opcao1" id="opcao1" required/>Sim, da UFABC (PDPD, IC ou programa de pós-graduação)</label>
          </div>
          <div class="radio mt-3">
            <label for="opcao2"><input type="radio" name="opcao" value="opcao2" id="opcao2" required/>Sim, da FAPESP</label>
          </div>
          <div class="radio mt-3">
            <label for="opcao3"><input type="radio" name="opcao" value="opcao3" id="opcao3" required/>Não, sou voluntário(a)</label>
          </div>
          <div class="radio mt-3">
            <label for="outros"><input type="radio" name="opcao" value="opcao4" id="opcao4" required/>Outros:</label> <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Plano de Trabalho (deve conter objeto de estudo, objetivos, técnicas e principais equipamentos a serem utilizados)</p>
        <p class="text-success">Escolha uma das seguintes respostas:</p>
        <div class="">
          <textarea name="" id=""></textarea>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Declaro que o(a) meu/minha orientador(a) está ciente e aprova o meu cadastro e uso das CEMs.</p>
        <p>(Importante: Para validação do cadastro do(a) Pós-doutorando(a), é necessário que o(a) supervisor(a) faça também o cadastro.)</p>
        <div class="">
          <div class="radio mt-3">
            <label for="sim"><input type="radio" name="escolha" value="sim" id="sim" required />Sim</label>
          </div>
          <div class="radio mt-3">
            <label for="nao"><input type="radio" name="escolha" value="nao" id="nao" required />Não</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn-proximo mb-5">Próximo</button>
      </div>
    </form>
  </div>
{% endblock %}
