{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <div class="container">
    <h1>Docente UFABC</h1>

    <form action="{% url 'form_infra' %}" method="post" class="">
      {% csrf_token %}

      <div class="forms-cadastro p-2">
        <p>Dados pessoais</p>
        <div class="">
          <div class="mt-3">
            <label for="nome">Nome Completo:</label> <input type="text" name="nome" id="nome" required/>
          </div>
          <div class="mt-3">
            <label for="tel">Celular:</label> <input type="text" name="tel" id="tel" required/>
          </div>
          <div class="mt-3">
            <label for="tel">email-institucional:</label> <input type="text" name="email_inst" id="email_insti" required/>
          </div>
          <div class="mt-3">
            <label for="senha">Senha:</label> <input type="password" name="senha" id="senha" required />
          </div>
          <div class="mt-3">
            <label for="tel">Matrícula SIAPE:</label> <input type="text" name="mat_siape" id="mat_siape" required/>
          </div>
          <div class="mt-3">
            <label for="tel">Ramal/Telefone e sala do Laboratório de Pesquisa:</label> <input type="text" name="lab" id="lab" required/>
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Centro:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="ccnh"><input type="radio" name="centro" value="ccnh" id="ccnh" required/>CCNH</label>
          </div>
          <div class="radio mt-3">
            <label for="cmcc"><input type="radio" name="centro" value="cmcc" id="cmcc" required/>CMCC</label>
          </div>
          <div class="radio mt-3">
            <label for="cecs"><input type="radio" name="centro" value="cecs" id="cecs" required/>CECS</label>
          </div>
          <div class="radio mt-3">
            <label for="outros_centro"><input type="radio" name="centro" value="outros_centro" id="outros_centro" required/>Outros:</label> <input type="text" name="input_outros_centro" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Programa de pós-graduação:</p>
        <p class="text-success"> Escolha a(s) que mais se adeque(m)</p>
        <div class="">
          {% for programa in programas %}
            <div class="radio mt-3">
              <label for="{{ programa.nome_programa }}"><input type="checkbox" name="{{ programa.nome_programa }}" value="{{ programa.nome_programa }}" id="{{ programa.nome_programa }}" /> {{ programa.nome_programa }}</label>
            </div>
          {% endfor %}
          <div class="radio mt-3">
            <label for="outros_projetos"><input type="checkbox" name="outros_projetos" value="outros_projetos" id="outros_projetos" />Outros:</label> <input type="text" name="input_outros_projetos" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Possui projetos de pesquisa vigentes?</p>
        <p class="text-success">Escolha uma das seguintes respostas:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="possui_projeto_sim"><input type="radio" name="possui_projeto" value="sim" id="possui_projeto_sim" required/>Sim</label>
          </div>
          <div class="radio mt-3">
            <label for="possui_projeto_nao"><input type="radio" name="possui_projeto" value="nao" id="possui_projeto_nao" required/>Não</label>
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Se sim, insira o número do projeto, título e vigência (por exemplo, CNPq-Universal xxxxx-2020, Síntese e caracterização de nano-bio-magnétos e processos de difusão destes em cavidades orgânicas instruídas por operações do tipo "machine learning", vigente até 25/12/2025).</p>
        <div class="">
          <div class="mt-3">
            <label for="projeto">Projeto:</label> <input type="text" name="projeto" id="projeto" />
          </div>
          <div class="mt-3">
            <label for="titulo">Título:</label> <input type="text" name="titulo" id="titulo" />
          </div>
          <div class="mt-3">
            <label for="vigencia">Vigência:</label> <input type="text" name="vigencia" id="vigencia" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <label for="publicacoes">Liste as publicações (2019/2020) decorrentes da pesquisa feita com uso da infraestrutura das CEMs da UFABC (URL ou DOI):</label>
        <div class="">
          <div class="mt-3">
            <textarea name="publicacoes" id="publicacoes" cols="145" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn-proximo mb-5">Próximo</button>
      </div>
    </form>
  </div>


{% endblock %}
