{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <div class="container">
    <h1>Pós-doutorando(a) - UFABC ou externo(a)</h1>
    {% if mensagem %}
      <p class="text-danger">{{ mensagem }}</p>
    {% endif %} 
    <form action="{% url 'form_infra' %}" method="post" class="">
      {% csrf_token %}
      <div class="forms-cadastro p-2">
        <p>Dados pessoais</p>
        <div class="">
          <div class="mt-3">
            <label for="nome">Nome Completo:</label> <input type="text" name="nome" id="nome" required />
          </div>
          <div class="mt-3">
            <label for="tel">Celular:</label> <input type="text" name="tel" id="tel" required />
          </div>
          <div class="mt-3">
            <label for="email_inst">email-institucional:</label> <input type="text" name="email_inst" id="email_inst" required />
          </div>
          <div class="mt-3">
            <label for="senha">Senha:</label> <input type="password" name="senha" id="senha" required />
          </div>
          <div class="mt-3">
            <label for="matricula_ufabc">Matrícula SIAPE:</label> <input type="text" name="matricula_ufabc" id="matricula_ufabc" required />
          </div>
          <div class="mt-3">
            <label for="lab">Ramal/Telefone e sala do Laboratório de Pesquisa:</label> <input type="text" name="lab" id="lab" required />
          </div>
          <div class="mt-3">
            <label for="nome_supervisor">Nome do(a) supervisor(a):</label> <input type="text" name="nome_supervisor" id="nome_supervisor" required />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Data de início do pós-doutorado:</p>
        <div class="">
          <div class="radio mt-3">
            <label><input type="date" name="data_inicio" value="data_inicio" id="data_inicio" required /></label>
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Possui bolsa?</p>
        <p class="text-success">Escolha uma das seguintes respostas:</p>
        <div class="">
          <div class="radio mt-3">
            <label for="ufabc"><input type="radio" name="bolsa" value="ufabc" id="ufabc" required />Sim, bolsa interna UFABC</label>
          </div>
          <div class="radio mt-3">
            <label for="cnpq"><input type="radio" name="bolsa" value="cnpq" id="cnpq" required />Sim, CNPq</label>
          </div>
          <div class="radio mt-3">
            <label for="capes"><input type="radio" name="bolsa" value="capes" id="capes" required />Sim, CAPES</label>
          </div>
          <div class="radio mt-3">
            <label for="fapesp"><input type="radio" name="bolsa" value="fapesp" id="fapesp" required />Sim, da FAPESP</label>
          </div>
          <div class="radio mt-3">
            <label for="voluntario"><input type="radio" name="bolsa" value="voluntario" id="voluntario" required />Não, sou voluntário(a)</label>
          </div>
          <div class="radio mt-3">
            <label for="outros"><input type="radio" name="bolsa" value="outros" id="outros" required />Outros:</label> <input type="text" name="" id="" />
          </div>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Plano de Trabalho (deve conter objeto de estudo, objetivos, técnicas e principais equipamentos a serem utilizados)</p>
        <p class="text-success">Escolha uma das seguintes respostas:</p>
        <div class="">
          <textarea name="plano_trabalho" id=""></textarea>
        </div>
      </div>

      <div class="forms-cadastro p-2 mt-3">
        <p>Declaro que o(a) meu/minha supervisor(a) está ciente e aprova o meu cadastro e uso das CEMs.</p>
        <p>(Importante: Para validação do cadastro do(a) Pós-doutorando(a), é necessário que o(a) supervisor(a) faça também o cadastro.)</p>
        <div class="">
          <div class="radio mt-3">
            <label for="declaracao_supervisor"><input type="radio" name="declaracao_supervisor" value="sim" id="declaracao_supervisor" required />Sim</label>
          </div>
          <div class="radio mt-3">
            <label for="declaracao_supervisor"><input type="radio" name="declaracao_supervisor" value="nao" id="declaracao_supervisor" required />Não</label>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn-proximo mb-5">Próximo</button>
      </div>
    </form>
  </div>
{% endblock %}
