{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <div class="container">
    <h1>Infraestrutura em uso ou a ser usada</h1>
    <form action="{% url 'form_termo' %}" method="post" class="">
      {% csrf_token %}

<!--
      <div class="forms-cadastro p-2">
        <p>CEM São Bernardo do Campo - EQUIPAMENTOS</p>
        <p class="text-success">Escolha a(s) que mais se adeque(m)</p>
        <div class="">
          {% for programa in programas %}
            <div class="radio mt-3">
              <label for="{{ programa.nome_programa }}"><input type="checkbox" name="{{ programa.nome_programa }}" value="{{ programa.nome_programa }}" id="{{ programa.nome_programa }}" /> {{ programa.nome_programa }}</label>
            </div>
          {% endfor %}
        </div>
      </div>
-->
      <div class="d-flex justify-content-end mt-5">
        <button type="submit" class="btn-proximo mb-5">Próximo</button>
      </div>
    </form>
  </div>
{% endblock %}
