{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<div class="container">

    <h1>
        {{user.primeiro_nome }} {{user.segundo_nome}}
    </h1>

    <div>

        <p>Email: {{login.email_inst}}</p>

        {% if login.perfil == "aluno" %}
        
        <p> Celular: {{user.celular}} </p>
        <p> Matrícula UFABC:{{user.matricula_ufabc}} </p>
        <p> Ramal do Laboratório{{user.ramal_lab}} </p>
        <p> Nome do Orientador: {{user.nome_orientador}} </p>
        <p> Perfil: {{user.perfil}} </p>
        <p> Data da Pós: {{user.data_pos}} </p>
        <p> Centro: {{user.centro}} </p>
        <p> Bolsa: {{user.bolsa}} </p>
        <p> Plano de Trabalho: {{user.plano_trabalho}} </p>

        {% endif %}

        {% if login.perfil == "docente" %}
        
            <p>Celular: {{user.celular}}</p>
            <p>Matrícula Siape: {{user.matricula_siape}}</p>
            <p>Ramal do Laboratório: {{user.ramal_lab}}</p>
            <p>Centroo: {{user.centro}}</p>
            {% if user.info_projeto %}
            <p>Projeto: {{user.info_projeto}}</p>
            {% endif %}
            
            <p>Lista de Publicação: {{user.lista_publi}}</p> 
        

        {% endif %}
    </div>

    

</div>

{% endblock %}