{% extends 'base.html' %}
{% load static %}

{% block conteudo %}
  <h1>{{ equipamento.nome }}</h1>

  <div id="carouselExample" class="carousel">
    <div class="carousel-inner">
      {% for mes in meses %}
        <div class="container">
          <div class="carousel-item {% if forloop.first %}{% endif %}">
            <h2 id="mes-{{ mes.id }}" data-mes="{{ mes.nome }}" data-ano="{{ mes.ano }}">Mês: {{ mes.nome }} Ano: {{ mes.ano }}</h2>
            <table class="mb-3">
              <thead>
                <tr class="">
                  <th></th>
                  <th>8:00</th>
                  <th>8:30</th>
                  <th>9:00</th>
                  <th>9:30</th>
                  <th>10:00</th>
                  <th>10:30</th>
                  <th>11:00</th>
                  <th>11:30</th>
                  <th>12:00</th>
                  <th>12:30</th>
                  <th>13:00</th>
                  <th>13:30</th>
                  <th>14:00</th>
                  <th>14:30</th>
                  <th>15:00</th>
                  <th>15:30</th>
                  <th>16:00</th>
                  <th>16:30</th>
                  <th>17:00</th>
                  <th>17:30</th>
                  <th>18:00</th>
                  <th>18:30</th>
                  <th>19:00</th>
                  <th>19:30</th>
                  <th>20:00</th>
                  <th>20:30</th>
                  <th>21:00</th>
                  <th>21:30</th>
                  <th>22:00</th>
                </tr>
              </thead>
              <tbody>
                {% for dia in mes.dia_set.all|dictsort:'numero' %}
                  <tr>
                    {% if dia.feriado %}
                      <td class="">{{ dia.numero }}</td>
                    {% elif dia.dia_da_semana == 'segunda' or dia.dia_da_semana == 'terca' or dia.dia_da_semana == 'quarta' or dia.dia_da_semana == 'quinta' or dia.dia_da_semana == 'sexta' %}
                      <td class="">{{ dia.numero }}</td>
                    {% else %}
                      <td class="">{{ dia.numero }}</td>
                    {% endif %}

                    {% for hora in horarios %}
                      {% with achou_agendamento=False %}
                        <td class="p-2">
                          {% if dia.feriado %}
                            X
                          {% elif dia.dia_da_semana == 'segunda' or dia.dia_da_semana == 'terca' or dia.dia_da_semana == 'quarta' or dia.dia_da_semana == 'quinta' or dia.dia_da_semana == 'sexta' %}
                            {% for agendamento in agendamento_existente %}
                              {% if dia.numero == agendamento.data_agendada|date:'d' and mes.numero == agendamento.data_agendada|date:'m' and agendamento.hora_inicio_agendamento|time:'H:i' <= hora and agendamento.hora_termino_agendamento|time:'H:i' >= hora %}
                                {% with achou_agendamento=True %}
                                  <div class="bg-danger">X</div>
                                {% endwith %}
                                
                              {% endif %}
                              
                            {% endfor %}
                            {% if not achou_agendamento %}
                                <button class="btn-agendamento" onclick="openPopup('{{ mes.nome }}', '{{ mes.id }}', '{{ dia.numero }}', '{{ hora }}', '{{ user.email }}')"></button>
                              {% endif %}
                          {% else %}
                            X
                          {% endif %}
                        </td>
                      {% endwith %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev custom-prev-btn" onclick="changeSlide(-1)">❮</a>

    <a class="carousel-control-next custom-next-btn" onclick="changeSlide(1)">❯</a>
  </div>

  <!-- Modifique o pop-up para incluir um formulário -->
  <div id="reservationPopup" class="popup">
    <p id="emailParagraph"></p>
    <form action="{% url 'realizar_agendamento' %}" method="post" id="reservationForm" class="reservationForm">
      {% csrf_token %}
      <div class="mb-3 d-flex justify-content-around">
        <label for="dataInput">Data:</label>
        <input type="date" name="data" id="dataInput" value="" readonly required />
        <input type="hidden" name="dataHidden" id="dataHidden" value="" />
      </div>
      <div class="mb-3 d-flex justify-content-around">
        <label for="horarioInicio">Horário Início:</label>
        <input type="text" name="horarioInicio" id="horarioInicio" value="" readonly required />
        <input type="hidden" name="horaInicioHidden" id="horaInicioHidden" value="" />
      </div>
      <div class="mb-3 d-flex justify-content-around">
        <label for="horarioTermino">Horário Término:</label>
        <input type="text" name="horarioTermino" id="horarioTermino" required />
      </div>

      <p>Digite alguma informação nescessária:</p>
      <textarea name="informacao_adicional" class="popup-agendamento" id="" required></textarea>

      <button type="submit" class="btn-agendar">Reservar</button>
    </form>
    <button class="btn btn-danger" onclick="closePopup()">Fechar</button>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script>
    // Lista de meses
    var meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']
    
    // Função para converter nome do mês para formato de dois dígitos
    function mesParaNumero(mes) {
      return (meses.indexOf(mes.toLowerCase()) + 1).toString().padStart(2, '0')
    }
    
    // Função para formatar a data como "YYYY-MM-DD"
    function formatarData(dia, mes, ano) {
      // Adicione zeros à esquerda se necessário
      mes = mes.padStart(2, '0')
      dia = dia.padStart(2, '0')
    
      return ano + '-' + mes + '-' + dia
    }
    
    // Função para abrir o popup
    function openPopup(mesNome, mesId, dia, hora, email) {
      // Mapear nome do mês para número
      var mesNumerico
      switch (mesNome.toLowerCase()) {
        case 'janeiro':
          mesNumerico = '01'
          break
        case 'fevereiro':
          mesNumerico = '02'
          break
        case 'março':
          mesNumerico = '03'
          break
        case 'abril':
          mesNumerico = '04'
          break
        case 'maio':
          mesNumerico = '05'
          break
        case 'junho':
          mesNumerico = '06'
          break
        case 'julho':
          mesNumerico = '07'
          break
        case 'agosto':
          mesNumerico = '08'
          break
        case 'setembro':
          mesNumerico = '09'
          break
        case 'outubro':
          mesNumerico = '10'
          break
        case 'novembro':
          mesNumerico = '11'
          break
        case 'dezembro':
          mesNumerico = '12'
          break
        default:
          mesNumerico = '01' // Valor padrão em caso de correspondência não encontrada
      }
    
      // Encontrar o elemento h2 que contém informações de Mês e Ano
      var mesAnoElement = $('h2#mes-' + mesId)
    
      if (mesAnoElement.length > 0) {
        // Obter os valores dos atributos de dados
        var ano = mesAnoElement.data('ano')
    
        // Formate a data como "YYYY-MM-DD"
        var dataFormatada = formatarData(dia, mesNumerico, ano)
    
        // Preencha os campos do formulário
        $('#dataInput').val(dataFormatada)
        $('#dataHidden').val(dataFormatada) // Use um campo oculto para enviar a data no formulário
        $('#emailParagraph').text('Email: ' + email)
        $('#horarioInicio').val(hora)
    
        // Exiba o pop-up
        $('#reservationPopup').show()
      }
    }
    function closePopup() {
      $('#reservationPopup').hide()
    }
  </script>

  <script>
    var slideIndex = 0
    
    function showSlides() {
      var slides = document.querySelectorAll('.carousel-item')
    
      for (var i = 0; i < slides.length; i++) {
        slides[i].style.display = 'none'
      }
    
      slides[slideIndex].style.display = 'block'
    }
    
    function changeSlide(n) {
      slideIndex += n
    
      var slides = document.querySelectorAll('.carousel-item')
    
      if (slideIndex >= slides.length) {
        slideIndex = 0
      }
    
      if (slideIndex < 0) {
        slideIndex = slides.length - 1
      }
    
      showSlides()
    }
    
    showSlides()
  </script>
{% endblock %}
